n8n-workflows/chat-workflow.json
{
  "name": "Platform Chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "chat"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.CHAT_MODEL || 'claude-3-5-haiku-20241022', max_tokens: parseInt($env.CHAT_MAX_TOKENS || '4096'), system: $json.body.system_prompt || 'You are a helpful assistant.', messages: $json.body.messages || [], tools: ($json.body.tools && $json.body.tools.length > 0) ? $json.body.tools : undefined }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "anthropic-request",
      "name": "Call Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "// Process Claude API response\nconst response = $input.first().json;\n\n// Check for errors\nif (response.error) {\n  return [{ json: { type: 'error', error: response.error.message || JSON.stringify(response.error) } }];\n}\n\n// Check if response has content\nif (!response || !response.content) {\n  return [{ json: { type: 'error', error: 'Invalid API response: ' + JSON.stringify(response) } }];\n}\n\nconst results = [];\n\n// Process content blocks\nfor (const block of response.content) {\n  if (block.type === 'text') {\n    results.push({ json: { type: 'text', content: block.text } });\n  } else if (block.type === 'tool_use') {\n    results.push({ \n      json: { \n        type: 'tool_call', \n        id: block.id,\n        name: block.name, \n        input: block.input \n      } \n    });\n  }\n}\n\n// Add done event\nresults.push({ json: { type: 'done', stop_reason: response.stop_reason } });\n\nreturn results;"
      },
      "id": "process-response",
      "name": "Process Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude API": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "active": true
}
